/NetBeansProjects/KlijenstkaAplikacija/target/
/Podsistem1/nbproject/private/
/Podsistem1/build/
/Podsistem1/dist/
/CentralniServer/target/
/Podsistem2/nbproject/private/
/Podsistem3/nbproject/private/
/Podsistem2/build/
/Podsistem2/dist/
/Podsistem3/dist/
/Podsistem3/build/
/KlijentskaAplikacija/nbproject/private/
/KlijentskaAplikacija/build/
/20230426
